/excluded/*
/Source_code/RestAPI/src/target
/Source_code/RestAPI/src/bin/
/Source_code/RestAPI/src/.settings
/Source_code/RestAPI/src/.classpath
/Source_code/RestAPI/src/.project
/Source_code/RestAPI/src/test.db
/Source_code/RestAPI/src/**/*.orig
/Source_code/RestAPI/spring-server-generated
/Source_code/RestAPI/spring-server-generated.zip
/Source_code/javafxFrontend/lib/javafx-sdk-11.0.2/
/Source_code/javafxFrontend/README.md
